@import "tailwindcss";
:root{
    background-color: black;

}
@theme{
  --scrollbar-width: 1px;
  --scrollbar-thumb: #948e91;
  --scrollbar-track: transparent;
}

@theme {
  --color-navBarBackground: rgb(255 255 255 / 20%);
  --color-navbarBorderColor: rgb(255 255 255 / 20%);
  --color-fadeBlack:rgba(0, 0, 0, 0.7);
}
@theme{
  --font-poppins:"Poppins", sans-serif;
}
/* Animation */

@keyframes fadein {
  0%{
    opacity:0;
  }
  30%{
    opacity: 20;
  }
  60%{
    opacity: 40;
  }
  100%{
    opacity: 100;
  }
}

/* scroll bar */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* Firefox */
* {
  scrollbar-width:thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
